<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infosys Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/Portfolio">Portfolio</a></li>
        </ul>
    </nav>

    <section id="buy-option">
        <h1 class="h-primary">Buy And Sell Shares</h1>
        <br>
        <div id="boxes">
            <div id="leftbox">
                <div class="container">
                    <div class="box">
                        <div class="class-row labels-1">
                            <form action="{{ url_for('buy_calcn') }} " method="POST">
                            <div class="box-cell box1">
                                <label>Quantity</label>
                                <br>
                                <input type="text" value="0" name='quantity'>
                                <br>    
                                <button type="submit" class="primary">Buy</button>
                            </div>
                            <div class="box-cell box2">
                                <label>Current Price</label>
                                <br>
                                <input type="text" value="{{ details['share_value'] }} " name="current_price" readonly>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rightbox">
                <div class="container">
                    {% block content %}
                    {% for message in get_flashed_messages() %}
                        <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                    {% endfor %}
                    {% endblock %}
                    <div class="box">
                        <div class="class-row labels-2">
                            <form action="{{ url_for('sell_calcn') }} " method="POST">
                            <div class="box-cell box1">
                                <label>Quantity</label>
                                <br>
                                <input type="text" value="0", name='quantity'>
                                <br>
                                <button type="submit" class="primary">Sell</button>
                            </div>
                            <div class="box-cell box2">
                                <label>Current Price</label>
                                <br>
                                <input type="text" value="{{ details['share_value'] }} " 
                                name='current_price' readonly>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="details">
        <div id="boxes">
            <div class="leftbox-details" id="leftbox">
                <div id="BSE-details">
                    <span>BSE</span>
                    <span>{{ details['share_value'] }} </span>
                </div>

                <div id="graph-plot">
                    <img src="{{ image_file }}" alt="Graph">
                </div>
            </div>
            <div class="rightbox-details" id="rightbox">
                <table class="table">
                    <h2>KEY INFORMATION</h2>
                    <tbody>
                        <tr>
                            <td>Volume</td>
                            <td>{{ details['volume'] }}</td>
                        </tr>
                        <tr>
                            <td>Market Cap (in Cr.)</td>
                            <td>{{ details['market_cap'] }}</td>
                        </tr>
                        <tr>
                            <td>Open Price</td>
                            <td>{{ details['open_price'] }}</td>
                        </tr>
                        <tr>
                            <td>Change In Share Value</td>
                            <td>{{ details['increasePoints'] }}</td>
                        </tr>
                        <tr>
                            <td>Change in Percentage</td>
                            <td>{{ details['percentage_increase'] }}</td>
                        </tr>
                        <tr>
                            <td>Company Details</td>
                            <td><a href="{{ details['link'] }}"><button class="primar">For More Details</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <section class="cards-property">
        <div class="cardds">
            <div class="card-deck">
                <div class="card" >  
                    <img src="{{ image_file1 }}">
                    <div class="card-body">
                        <p class="card-text">Reliance owns businesses across India engaged in energy, petrochemicals, textiles, natural resources, retail, and telecommunications. Reliance is one of the most profitable companies in India. On 10 September 2020, Reliance Industries became the first Indian company to cross $200 billion in market capitalisation.</p>
                        <a href="/Reliance" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ image_file2 }}">
                    <div class="card-body">
                        <p class="card-text">Tata Consultancy Services (TCS) is an Indian multinational technology company that specializes in information technology (IT) services and consultingAs of February 2021 TCS is largest company in the IT sector in the world by Market capitalisation of $169.2 billion.</p>
                        <a href="/TCS" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ image_file3 }}">
                    <div class="card-body">
                        <p class="card-text">Infosys Limited is an Indian that provides business consulting, information technology and outsourcing services.Infosys is the second-largest Indian IT company after Tata Consultancy Services by 2020 revenue figures and the 602nd largest public company in the world as per Forbes Global 2000 ranking</p>
                        <a href="/Infosys" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img src="{{ image_file4 }}">
                    <div class="card-body">
                        <p class="card-text">Wipro Limited is an Indian multinational corporation that provides information technology, consulting and business process services. It is headquartered in Bangalore, Karnataka, India. In 2013, Wipro separated its non-IT businesses and formed the privately owned Wipro Enterprises. Wipro has shifted to Work from Anywhere model since March 2020.</p>
                        <a href="/Wipro" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ image_file5 }}">
                    <div class="card-body">
                        <p class="card-text">Larsen & Toubro Limited, commonly known as L&T, is an Indian multinational technology, engineering, construction, manufacturing and financial services conglomerate. The company has business interests in basic and heavy engineering, construction, realty, manufacturing of capital goods, information technology, and financial services.</p>
                        <a href="/L&T" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ image_file7 }}">
                    <div class="card-body">
                        <p class="card-text">HDFC Bank Limited is an Indian banking and financial services company headquartered in Mumbai, Maharashtra. HDFC Bank is India’s largest private sector bank by assets. It is the largest bank in India by market capitalisation as of March 2020.</p>
                        <a href="/HDFC" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img src="{{ image_file6 }}">
                    <div class="card-body">
                        <p class="card-text">SBI is the 43rd largest bank in the world and ranked 221st in the Fortune Global 500 list of the world's biggest corporations of 2020. It is a public sector bank and the largest bank in India with a 23% market share by assets and a 25% share of the total loan and deposits market.</p>
                        <a href="/SBI" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ image_file8 }}">
                    <div class="card-body">
                        <p class="card-text">Zee News Ltd operates news, current affairs and
                            entertainment channels.The Company has an
                            arrangement with Zee Turner to distribute their
                            pay channels bouquet on DTH platforms in India
                            and neighbouring countries.</p>
                        <a href="/Zee Media" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ image_file9 }}">
                    <div class="card-body">
                        <p class="card-text">Ashok Leyland has been a major presence in
                            India`s commercial vehicle industry.The company
                            offers a wide range of products like buses ,
                            trucks ,engines , defence & special vehicles. In
                            the populous Indian metros, four out of the five
                            State Transport Undertaking (STU) buses come
                            from Ashok Leyland.</p>
                        <a href="/Ashok Leyland" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ image_file10 }}">
                    <div class="card-body">
                        <p class="card-text">Tech Mahindra Ltd offers Information Technology
                            (IT) services and solution to telecommunications
                            sector across the world. The company also
                            engagged in the business of Telecom Service
                            Provider, Business Process Outsourcing, Telecom
                            Equipment Manufacturer.</p>
                        <a href="/Tech Mahindra" class="btn btn-info stretched-link">Transact</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>